ex3/sources/Product_sender.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:element name="Product">
            <xs:complexType>
                <xs:sequence>
                    <xs:element type="xs:string" name="ProductIdentifier"/>
                    <xs:element type="xs:string" name="Text" minOccurs="0"/>
                    <xs:element type="xs:float" name="Price"/>
                    <xs:element type="xs:string" name="Currency"/>
                    <xs:element type="xs:string" name="Unit"/>
                    <xs:element type="xs:string" name="Category"/>
                    <xs:element type="xs:string" name="Sub-Category"/>
                    <xs:element type="xs:string" name="Supplier"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>                    
</xs:schema>